springhibernatedemo/src/test/resources/dataset.dtd

<!ELEMENT dataset (
    CANDY*,
    PERSON*,
    PERSON_CANDY*)>

<!ELEMENT CANDY EMPTY>
<!ATTLIST CANDY
    CID CDATA #REQUIRED
    CNAME CDATA #IMPLIED
    PRICE CDATA #IMPLIED
    SOLD CDATA #IMPLIED
>

<!ELEMENT PERSON EMPTY>
<!ATTLIST PERSON
    PID CDATA #REQUIRED
    PNAME CDATA #IMPLIED
    PESEL CDATA #REQUIRED
>

<!ELEMENT PERSON_CANDY EMPTY>
<!ATTLIST PERSON_CANDY
    CANDIES_CID CDATA #REQUIRED
    PERSON_PID CDATA #REQUIRED
>

